<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	<!-- 部署一個sayHello的bean -->
	<bean id="hello" class="com.tibame.domain.TWHello"></bean>
	
	<!-- deploy TibameHello 元件規範 -->
	<bean id="tibamehello" class="com.tibame.domain.TibameHello">
		<!-- constructor injection  -->
		<constructor-arg index="0">
			<value>TSMC</value>
		</constructor-arg>
	</bean>
	
	<bean id="tibamehello2" class="com.tibame.domain.TibameHello">
		<!-- property injection like setter -->
		<property name="companyName">
			<value>Garmin</value>
		</property>
	</bean>
	
</beans>